# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log

# NIFTI files
*.nii
*.nii.gz